body {
  width: 90%;
  background-color: grey;

}

a {
  font-size: 2em;
  color: white;
}

.cats a {
  font-size: 1em;
}
.cats p {
  font-style: italic;
}

.dogs p {
  font-size: 1.2em;
}

img {
  float: left;
}

.column {
  width: 400px;
  float: left;
}

.background1 {
  margin: 4px;
  padding: 3px;
  background-color: red;
}

.background2 {
  margin: 4px;
  padding: 3px;
  background-color: orange;
}

.background3 {
  margin: 4px;
  padding: 3px;
  background-color: green;
}

.background4 {
  margin: 4px;
  padding: 3px;
  background-color: blue;
}

.background5 {
  margin: 4px;
  padding: 3px;
  background-color: yellow;
}

.background6 {
  margin: 4px;
  padding: 3px;
  background-color: violet;
}
